@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
   
}

.header {
   margin-bottom: 40px; 
}

.pokeball-header {
    display:flex;
    justify-content: center;
}

.scoreboard {
    border: 5px solid rgb(0, 0, 0);
    display: flex;
}

.display {
    display: flex;
    justify-content: center;
}

.intro {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.intro p{
    text-indent: 30px;
}

#p1{
    margin-top: 30px;
    margin-bottom: 10px;
}

body {
    background-color:	rgb(246, 207, 87); /*Pikachu Yellow ;)*/
    font-family: 'Roboto', sans-serif;
    
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.starters button {
    width: 95px;
    background: rgb(211, 191, 80);
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 50px; 
    margin-left: 100px;
    margin-bottom: 70px;
}

.starters {
    display: flex;
    justify-content: space-evenly;
}


.main-title {
    display:flex;
}

#fire {
    display:flex;
}

#grass {
    display:flex;
    padding-left: 15px;
}

#water {
    display:flex;
    padding-left: 20px;
    
}

img {
    width: 300px;
    height: 300px;
}